@import "variables";

attributes-panel {
  display: block;

  .visibility-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;

    button {
      background-color: mat-color($app-background, raised-button);
      border: 1px solid mat-color($app-foreground, divider);
      border-radius: 4px;
      margin: 0 5px;

      &.active {
        color: mat-color($app-accent, default);
      }
    }
  }

  .input-container, .mat-chip-list-wrapper {
    display: flex;
    align-items: center;
    color: mat-color($app-foreground, text);

    label {
      flex: 0 0 80px;
      width: 80px;
      font-weight: 700;
      font-size: 1.2rem;
      text-transform: capitalize;
      text-align: left;
    }

    input, select {
      flex: 1 1 auto;
      max-width: 168px;
      font-size: 1.3rem;
      height: 38px;
      padding: 8px;
    }
  }

  .mat-chip-list-wrapper {
    margin: 0;
    width: 100%;

    input.mat-input-element {
      margin: 0;
    }

    > .mat-chip {
      margin-top: 7px !important;
      color: inherit;
      padding: 4px 12px;

      &:last-of-type {
        margin-bottom: 5px;
      }

      > .mat-chip-remove {
        color: inherit;
      }
    }
  }
}
