
article, aside, figure, footer, header, hgroup, 
menu, nav, section { display: block; }


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.parsley-required {
    position: absolute; 
    padding-right: 15px;
    list-style-type: none;
    color: red;
}
.parsley-length{
    padding-right: 15px;
    list-style-type: none;
    color: red;
}
ul {
    list-style-type: none;
}
.dropzone.dz-clickable {
    width: 180px;
    height: 180px; 
}

            :root {
--input-padding-x: 1.5rem;
--input-padding-y: 0.75rem;
    font-family: 'Montserrat';
}

.login,
.image {
min-height: 100vh;
}

.bg-image {
max-height: 100vh;
background-image: url('https://annextrades.com/images/bg-business.jpg');
background-size: cover;
background-position: center;
align-items: flex-end;
justify-content: flex-center;
align-items: center;
}

* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input, #msform select,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

/* #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
} */

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f0e0"
}

#progressbar #company:before {
    font-family: FontAwesome;
    content: "\f0c0"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f0d6"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f093"
}

#progressbar #product:before {
    font-family: FontAwesome;
    content: "\f07a"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.error {
    color: #FF0000;
    font-size: 11px;
    font-weight: bold;
}

.success {
    color: #33CC00;
    font-size: 11px;
}

/*-----------------------
Parsley Varifation
-------------------------*/

.parsley-required {
    /* margin-top: 10px;
    margin-bottom: 0;
    padding: 7px 5px; */
    position: relative;
    /* background-color: #f96a6a; */
    color: #f96a6a;
}
#captcha-wrap{
    border:solid #870500 1px;
    width:270px;
    -webkit-border-radius: 10px;
    float:left;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:#870500;
    text-align:left;
    padding:3px;
    margin-top:3px;
    height:100px;
    margin-left:80px;
}
#captcha-wrap .captcha-box{
    -webkit-border-radius: 7px;
    background:#fff;
    -moz-border-radius: 7px;
    border-radius: 7px;
    text-align:center;
    border:solid #fff 1px;
}
#captcha-wrap .text-box{
    -webkit-border-radius: 7px;
    background:#ffdc73;
    -moz-border-radius: 7px;
    width:140px;
    height:43px;
    float:left;
    margin:4px;
    border-radius: 7px;
    text-align:center;
    border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input{ width:120px;}
#captcha-wrap .text-box label{
    color:#000000;
    font-family: helvetica,sans-serif;
    font-size:12px;	
    width:150px;
    padding-top:3px; 
    padding-bottom:3px; 
}
#captcha-wrap .captcha-action{
    float:right; width:117px; 
    background:url(logos.jpg) top right no-repeat; 
    height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
    margin-top:9px;
    border:solid #333333 1px;
    margin-right:6px;
    cursor:pointer;
}