<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="phpNet" type="PHP.Core.ConfigurationSectionHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71"/>
  </configSections>
  <system.web>
    <!-- Handler for mod_mono or IIS classic mode -->
    <!--     <httpHandlers>
      <add path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" />
    </httpHandlers> -->
    <compilation targetFramework="4.0" debug="true"/>
    <globalization responseEncoding="utf-8" fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="Phalanger"/>
      <add name="Phalanger" path="*.php" verb="*" type="PHP.Core.RequestHandler, PhpNetCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0a8e8c4c76728c71" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    
     <!-- Needed for example35 to load json files -->
    <staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" /> 
    </staticContent>
    
  </system.webServer>
  <phpNet>
    <paths>
      <set name="DynamicWrappers" value="Bin/dynamic"/>
      <set name="Libraries" value="Bin"/>
    </paths>
    <classLibrary>
      <add assembly="PhpNetClassLibrary, Version=3.0.0.0, Culture=neutral, PublicKeyToken=4af37afe3cde05fb" section="bcl"/>
      <add assembly="PhpNetZlib, Version=3.0.0.0, Culture=neutral, PublicKeyToken=d4cd94916abb991b" section="zlib"/>
      <add assembly="PhpNetGd2, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="gd2"/>
      <add assembly="PhpNetMbstring, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="mbstring"/>
	  <add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom"/>
	  <add assembly="PhpNetXml, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="xml"/>
	  
      <!--
        Enable following extensions if your configuration requires them.
        Extensions are a part of Phalanger installation (http://phalanger.codeplex.com/)
        -->
      <!-- add assembly="PhpNetXmlDom, Version=3.0.0.0, Culture=neutral, PublicKeyToken=2771987119c16a03" section="dom"/ -->
    </classLibrary>
    <scriptLibrary>
      <add url="bin\axZm.dll"/>
    </scriptLibrary>
    <request-control>
      <set name="ExecutionTimeout" value="120" phpName="max_execution_time"/>
    </request-control>
	<error-control>
		<!-- 
			A set of error types that should be reported.
			Subtags are processes in the order they are stated in the list. Valid subtags are: 
		    
			  <add value=""/>    - enables reporting of the specified type
			  <remove value=""/> - disables reporting of the specified type
			  <clear/>           - disables all errors
		    
			Valid names include 
			  Error,Warning,Notice,Strict,UserError,UserWarning,UserNotice,ParseError,CompileError,CompileWarning
		
			<set name="ReportErrors" phpName="error_reporting">
				<add value="Error"/>
				<add value="Warning"/>
				<add value="Notice"/>
				<add value="Strict"/>
				<add value="UserError"/>
				<add value="UserWarning"/>
				<add value="UserNotice"/>
				<add value="ParseError"/>
				<add value="CompileError"/>
				<add value="CompileWarning"/>
			</set>
		-->
		<set name="ReportErrors" phpName="error_reporting">
			<remove value="CompileWarning"/>
		</set>
	</error-control>
	<compiler>
		<set name="Debug" value="false" />
	</compiler>
    <globalization>
      <set name="PageEncoding" value="utf-8"/>
    </globalization>
  </phpNet>
</configuration>